{% extends 'base.html.twig' %}

{% block title %}article{% endblock %}
 
{% block stylesheets %}
    {{ parent() }}
    <style>
       
        div {
            background-color: #CCC;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
        
        h1, h2, h3 {
            color: darkblue;
        }
        
        ul {
            list-style-type: none;
            padding: 0;
        }
        
        li {
            margin-bottom: 10px;
        }
        
        form {
            margin-top: 20px;
        }
        
        input[type="text"], input[type="password"], textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        
        button[type="submit"] {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block body %}
<div>
    <h1>{{ article.title }}</h1>
    <p>Date: {{ article.date|date("Y-m-d") }}</p>
    <p>Description: {{ article.description }}</p>
    <p>Author: {{ article.author }}</p>

    <h2>Commentaires</h2>
   <ul>
    {% for commentary in article.commentaries %}
        <li>{{ commentary.content }}</li>
    {% endfor %}
    </ul>

    {% if app.user %}
            <h2>Ajouter un commentaire</h2>
            {{ form_start(commentaryType) }}
            {{ form_row(commentaryType.content) }}
            <button type="submit">Ajouter le commentaire</button>
            {{ form_end(commentaryType) }}
        {% else %}
            <p>Connectez-vous pour laisser un commentaire.</p>
            <p><a href="{{ path('app_login') }}">{{ "Connexion"}}</a></p>

        {% endif %}
   
       

    <h1><a href="{{ path('app_accueil') }}">{{ "Accueil"}}</a></h1>

</div>

{% endblock %}
